img {
    height: 100px;
    width: 100px;
}

progress{
    background: #F00;
}

::-webkit-progress-value {
    background-color: red;
  }

#inventory{
    list-style-type: none;
}
#inventory > li{
    margin-right: 2px;
    display: inline;
}
#inventory > li:hover{
    border: 1px solid;
}

textarea{
    height: 200px;
    width: 100%;
}